<form (ngSubmit)="publish(song)">
  <div class="form-group d-flex flex-column">
    <label for="name">Nombre de la Canción:</label>
    <input type="text" id="name" name="name" [(ngModel)]="song.name">
    <label for="duration">Duración de la Canción</label>
    <input type="text" id="duration" name="duration" [(ngModel)]="song.duration">
    <select name="artist" id="artist">
      <option>Seleccione el artista de la canción</option>
      <option *ngFor="let artist of artists" value="{{artist.id}}">{{artist.name}}</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Añadir</button>
</form>
